<mat-card>
	<mat-card-header class="header">
		<mat-card-title-group>
			<a mat-button [routerLink]="['/dudes/', review.dude.uuid]">
				<span>{{review.dude.displayName}}</span>
				<strong>{{isCurrentDudeReview ? ' (You)' : ''}}</strong>
			</a>
			<span *ngIf="review.score"
				attr.aria-label="{{review.score}} out of 5 stars"
				matTooltip="{{review.score}} out of 5 stars"
				matTooltipPosition="after"
			>
				<mat-icon *ngFor="let x of ' '.repeat(review.score).split('')"
					color="primary"
				>star</mat-icon>
				<mat-icon *ngFor="let x of ' '.repeat(5 - review.score).split('')"
					color="primary"
				>star_border</mat-icon>
			</span>
			<span class="spacer"></span>
			<span>{{reviewDate}}</span>
		</mat-card-title-group>
	</mat-card-header>

	<mat-divider inset *ngIf="review.review"></mat-divider>

	<mat-card-content *ngIf="review.review">
		<div class="review-text">{{review.review}}</div>
	</mat-card-content>
</mat-card>
