<mat-toolbar>
	<a mat-button routerLink="new">
		<mat-icon>add_circle_outline</mat-icon>
		<span> New game</span>
	</a>
	<span class="spacer"></span>
	<button type="button" mat-icon-button (click)="refreshData()"
		[disabled]="loading"
		aria-label="Refresh data"
	>
		<mat-icon [ngClass]="{'icon--spin': loading}">refresh</mat-icon>
	</button>
</mat-toolbar>

<div class="table-wrapper">
	<div class="table-cover" *ngIf="loading || error">
		<mat-spinner *ngIf="loading"></mat-spinner>
		<div class="error-cover" *ngIf="error">
			<!-- TODO: text currently appears over table header, which looks weird -->
			There was an error retrieving the data. Please retry.
		</div>
	</div>

	<table mat-table matSort [dataSource]="data"
		matSortActive="releaseDate" matSortDirection="desc" matSortDisableClear
	>
		<ng-container matColumnDef="name">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
			<td mat-cell *matCellDef="let element">{{element.name}}</td>
		</ng-container>

		<ng-container matColumnDef="releaseDate">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Release Date</th>
			<td mat-cell *matCellDef="let element">{{element.releaseDate}}</td>
		</ng-container>

		<ng-container matColumnDef="topTags">
			<th mat-header-cell *matHeaderCellDef>Tags</th>
			<td mat-cell *matCellDef="let element">
				<span *ngIf="!element.topTags.length">
					<em>No tags yet!</em>
				</span>
				<mat-chip-list selectable="false" *ngIf="element.topTags.length">
					<app-game-tag *ngFor="let tag of element.topTags" [tag]="tag"></app-game-tag>
				</mat-chip-list>
				{{element.symbol}}
			</td>
		</ng-container>

		<ng-container matColumnDef="actions">
			<th mat-header-cell *matHeaderCellDef></th>
			<td mat-cell *matCellDef="let element">
				<a mat-icon-button routerLink="{{element.id}}"
					aria-label="Details"
					matTooltip="Details"
				>
					<mat-icon fontSet="material-icons-outlined">description</mat-icon>
				</a>

				<button type="button" mat-icon-button disabled="true"
					aria-label="Add to List"
					matTooltip="Add to List"
				>
					<mat-icon>playlist_add</mat-icon>
				</button>
			</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row
			*matRowDef="let row; let even = even; columns: displayedColumns;"
			[ngClass]="{'table-row--even': even}"
			(dblclick)="openDetails(row.id)"
		></tr>
	</table>

	<mat-paginator pageSize="5" [pageSizeOptions]="[5, 10, 20]" [length]="resultsLength"
		showFirstLastButtons></mat-paginator>
</div>
