<h2 mat-dialog-title>{{existing ? 'Edit' : 'Add'}} Review</h2>
<form role="form" novalidate
	(ngSubmit)="submit()"
>
	<mat-dialog-content>
		<div>
			<mat-label>Score</mat-label>
			<div>
				<mat-icon *ngFor="let x of ' '.repeat(score).split(''); let i = index"
					color="primary"
					(click)="score = i + 1"
					attr.aria-label="{{i + 1}} out of 5 stars"
					matTooltip="{{i + 1}} out of 5 stars"
				>star</mat-icon>
				<mat-icon *ngFor="let x of ' '.repeat(5 - score).split(''); let i = index"
					color="primary"
					(click)="score = score + i + 1"
					attr.aria-label="{{score + i + 1}} out of 5 stars"
					matTooltip="{{score + i + 1}} out of 5 stars"
				>star_border</mat-icon>
			</div>
		</div>

		<p>
			<mat-form-field>
				<mat-label>Review</mat-label>
				<textarea matInput name="review" [(ngModel)]="review"></textarea>
			</mat-form-field>
		</p>
	</mat-dialog-content>
	<mat-dialog-actions align="end">
		<button type="button" mat-button color="warn" *ngIf="existing"
			(click)="delete()"
			[disabled]="submitting || deleting"
		>{{deleting ? 'Deleting...' : 'Delete'}}</button>
		<button type="button" mat-button mat-dialog-close
			[disabled]="submitting || deleting"
		>Cancel</button>
		<button type="submit" mat-button color="primary"
			[disabled]="submitting || deleting"
		>{{submitting ? 'Saving...' : 'Save'}}</button>
	</mat-dialog-actions>
</form>
