.game {
	width: 600px;
	margin-top: 16px;

	.game__content {
		display: flex;

		.game__content__main {
			flex-grow: 1;
			padding: 16px;

			.game__tags app-game-tag {
				padding-right: 5px;
			}
		}
	}

	.game__properties {
		position: relative;
		flex-grow: 0;
	}
}
