.game {
	width: 800px;
	margin-top: 16px;

	.game__content {
		display: flex;
		margin-bottom: 0;

		> div {
			margin: 0px 16px;

			&:first-child {
				margin-left: 0;
			}
			&:last-child {
				margin-right: 0;
			}
		}

		.game__content__main {
			flex-grow: 1;
		}

		.game__properties {
			padding: 16px 0;
			position: relative;
			flex-grow: 0;
			max-width: 40%;

			.box-art {
				display: flex;
				border: 1px solid black;

				> img {
					width: 100px;
					flex-grow: 1;
				}
			}

			.release-date {
				display: flex;
				align-items: center;
				justify-content: space-between;
				min-width: max-content;

				.future {
					color: #980000;
				}

				mat-icon {
					margin-right: 4px;
				}
			}
		}
	}
}
