<mat-toolbar>
	<a mat-button routerLink="..">
		<mat-icon>arrow_back</mat-icon>
		<span> Return to list</span>
	</a>
	<span class="spacer"></span>
</mat-toolbar>

<div class="container">
	<mat-card *ngIf="game | async as game" class="game">
		<mat-card-header>
			<mat-card-title>{{game.name}}</mat-card-title>
		</mat-card-header>
		<mat-card-content class="game__content">
			<mat-divider></mat-divider>

			<div class="game__content__main">
				<div class="game__description">
					<span *ngIf="game.description; else noDescription">
						{{game.description}}
					</span>
					<ng-template #noDescription>
						<em>No description.</em>
					</ng-template>
				</div>

				<mat-divider [inset]="true" class="padded"></mat-divider>

				<div class="game__tags">
					<!--
						TODO: potential design:

						1) extend GameDTO with complete list of gametags that have been tagged by current dude for game
						2) display first X tags merged with current dude's tags
						3) when "load more tags" clicked, load additional slice of tags & remerge with current dude's tags

						problem: why not merge serverside into single tags list with 'dudetagged' bool?
							inner problem: how would slices work then?
					-->
<!--				<mat-form-field class="example-chip-list">-->
					<mat-chip-list aria-label="Tags" selectable="false">
<!--					<mat-chip-list #chipList aria-label="Tags" selectable="false">-->
						<app-game-tag *ngFor="let tag of game.tags.content" [tag]="tag"></app-game-tag>
<!--						<input-->
<!--							placeholder="New fruit..."-->
<!--							#fruitInput-->
<!--							[formControl]="fruitCtrl"-->
<!--							[matAutocomplete]="auto"-->
<!--							[matChipInputFor]="chipList"-->
<!--							[matChipInputSeparatorKeyCodes]="separatorKeysCodes"-->
<!--							[matChipInputAddOnBlur]="addOnBlur"-->
<!--							(matChipInputTokenEnd)="add($event)">-->
					</mat-chip-list>
<!--					<mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">-->
<!--						<mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">-->
<!--							{{fruit}}-->
<!--						</mat-option>-->
<!--					</mat-autocomplete>-->
<!--				</mat-form-field>-->
				</div>
			</div>

			<mat-divider vertical></mat-divider>

			<div class="game__properties">
				<mat-list dense>
					<h3 matSubheader>Release Date</h3>
					<mat-list-item>
						<mat-icon matListIcon
							matTooltip="Windows" matTooltipPosition="before"
						>desktop_windows</mat-icon>
						<p>{{game.releaseDate}}</p>
					</mat-list-item>
					<mat-divider [inset]="true"></mat-divider>
					<h3 matSubheader>Something Else</h3>
					<mat-list-item>
						<p matLine>Hello</p>
						<p matLine>World</p>
					</mat-list-item>
				</mat-list>
			</div>
		</mat-card-content>
	</mat-card>
</div>
