<mat-toolbar>
	<a mat-button routerLink="..">
		<mat-icon>arrow_back</mat-icon>
		<span> Return to list</span>
	</a>
	<span class="spacer"></span>
</mat-toolbar>

<article class="hcenter">
	<mat-card *ngIf="game" class="game">
		<mat-card-header>
			<mat-card-title>{{game.name}}</mat-card-title>
			<mat-card-subtitle>AVERAGE REVIEW SCORE HERE</mat-card-subtitle>
		</mat-card-header>

		<mat-divider></mat-divider>

		<mat-card-content class="game__content">
			<div class="game__content__main">
				<p class="game__description">
					<span *ngIf="game.description; else noDescription">
						{{game.description}}
					</span>
					<ng-template #noDescription>
						<em>No description.</em>
					</ng-template>
				</p>

				<mat-divider [inset]="true"></mat-divider>

				<p>
					*bunch of scrollable screenshots (thumbnails openable in a lightbox) from/of game here*
				</p>

				<mat-divider [inset]="true"></mat-divider>

				<p class="game__tags">
					<app-game-tags [initialTags]="game.tags" [dudeTaggings]="game.dudeTaggings"
						[gameId]="game.id"
					></app-game-tags>
				</p>
			</div>

			<mat-divider vertical></mat-divider>

			<div class="game__properties">
				<div class="box-art">
					<img src="/assets/demo-box-art.jpg" />
				</div>

				<div>
					<h4>Release Date</h4>
					<div class="release-date">
						<mat-icon matTooltip="Windows" matTooltipPosition="before">desktop_windows</mat-icon>
						<span>{{releaseDate}}</span>
					</div>

					<!-- fake date just to see what multiple release dates would look like -->
					<div class="release-date">
						<mat-icon matTooltip="Some Other Console or something" matTooltipPosition="before">videogame_asset</mat-icon>
						<span>{{tmpReleaseDate2}}</span>
					</div>
				</div>

				<!-- dummy properties -->
				<div>
					<h4>Universe</h4>
					<div>
						*universe that game takes place in*
					</div>
				</div>

				<div>
					<h4>Series</h4>
					<div>
						*series*
					</div>
				</div>

				<div>
					<h4>Prequel</h4>
					<div>
						*previous game*
					</div>
				</div>

				<div>
					<h4>Sequel</h4>
					<div>
						*next game*
					</div>
				</div>
			</div>
		</mat-card-content>

		<mat-divider></mat-divider>

		<mat-card-content class="reviews">
			<app-game-reviews [initialReviews]="game.reviews"></app-game-reviews>
		</mat-card-content>
	</mat-card>
</article>
