html, body { min-height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

table {
	width: 100%;

	.table-row--even {
		background-color: #fcfcfc;
	}
}

.mat-icon {
	user-select: none;

	&.icon--button {
		cursor: pointer;
	}

	&.icon--spin {
		animation: spin 500ms infinite linear;
	}

	@keyframes spin {
		0% {
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
		}
		100% {
			-webkit-transform: rotate(359deg);
			transform: rotate(359deg);
		}
	}
}

.mat-card {
	.mat-divider.mat-divider-horizontal.padded {
		margin: 16px 0;
	}
}

.spacer {
	flex: 1 1 auto;
}

.hcenter {
	display: flex;
	justify-content: center;
}

.vcenter {
	display: flex;
	align-items: center;
}
