html, body { min-height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-form-field {
	width: 100%;
	min-width: 300px;
}

.mat-icon {
	user-select: none;
}

.spacer {
	flex: 1 1 auto;
}

.table-row--even {
	background-color: #fcfcfc;
}
