<form role="form" (submit)="login()">
	<mat-card>
		<mat-card-header>
			<mat-card-title>Login</mat-card-title>
		</mat-card-header>

		<mat-card-content>
			<mat-card *ngIf="error"><!-- TODO: fix appearance: red outline, icon alignment -->
				<mat-icon color="accent">error_outline</mat-icon>
				<span [ngSwitch]="error">
					<span *ngSwitchCase="'invalid-credentials'">Invalid credentials.</span>
					<span *ngSwitchDefault>There was a problem logging in. Please try again.</span>
				</span>
			</mat-card>

			<p>
				<mat-form-field appearance="outline">
					<mat-label>Email</mat-label>
					<input matInput [(ngModel)]="credentials.email" name="user" />
				</mat-form-field>
			</p>
			<p>
				<mat-form-field appearance="outline">
					<mat-label>Password</mat-label>
					<input matInput [type]="hidePass ? 'password' : 'text'" [(ngModel)]="credentials.password" name="pass" />
					<!-- below currently looks crap in non-chrome browsers
						https://github.com/angular/components/issues/13094
					-->
<!--					<button type="button" mat-icon-button matSuffix (click)="hidePass = !hidePass" aria-label="Hide password" [attr.aria-pressed]="hidePass">-->
<!--						<mat-icon>{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>-->
<!--					</button>-->
					<!-- non-crap-looking but buttonless, thus needing style overrides to mimic appearance -->
					<mat-icon matSuffix (click)="hidePass = !hidePass"
							aria-label="Hide password" [attr.aria-pressed]="hidePass" class="icon--button">
						{{hidePass ? 'visibility_off' : 'visibility'}}
					</mat-icon>
				</mat-form-field>
			</p>
		</mat-card-content>

		<mat-card-actions align="end">
			<mat-spinner *ngIf="loggingIn" color="primary" diameter="36"></mat-spinner>
			<button mat-flat-button color="primary" type="submit" [disabled]="loggingIn">
				Log In
			</button>
		</mat-card-actions>
	</mat-card>
</form>
