<mat-chip-list aria-label="Tags">
	<app-game-tag *ngFor="let tag of tags" [tag]="tag"
		[selected]="isSelectedTag(tag)"
		(click)="toggleTagging(tag)"
	></app-game-tag>
	<button *ngIf="hasMore" mat-button type="button"
		(click)="loadMoreTags()" [disabled]="loading"
	>{{loading ? 'Loading...' : 'Load more...'}}</button>
</mat-chip-list>

<div class="add-tag-form">
	<mat-form-field>
		<mat-label>New Tag...</mat-label>
		<input
			matInput
			[formControl]="tagInput"
			[matAutocomplete]="auto"
		/>
		<mat-autocomplete #auto="matAutocomplete">
			<mat-option *ngFor="let option of tagOptions | async" [value]="option">
				{{option}}
			</mat-option>
		</mat-autocomplete>
		<button type="button" mat-button matSuffix (click)="addTagging()">Tag</button>
	</mat-form-field>
</div>
